<%- include("./../partials/header.ejs") %>

<body class="slide-in">
    <div class="container">
        <div class="confirmation-box">
            <h2>Account Deleted</h2>
            <p>Your account has been permanently deleted.</p>
            <p>We are sorry to see you go! If you wish to return, you are always welcome to create a new account.</p>
            <a href="/move_out/register" class="btn btn-primary">Create a New Account</a>
        </div>
    </div>

<%- include("./../partials/footer.ejs") %>
</body>
