<%- include("./../partials/header.ejs") %>

<div class="container">
    <h1>No Public Boxes</h1>
    <p>This user has no public boxes to display.</p>
    
    <a href="/move_out/users" class="btn btn-secondary">Back to Users List</a>
</div>

<%- include("./../partials/footer.ejs") %>
