<%- include("./../partials/header.ejs") %>

<body class="slide-in">
    <div class="container">
        <h2 class="page-title">No Shared Boxes</h2>
        <p>It looks like no one has shared any boxes with you yet.</p>

        <a href="/move_out/dashboard" class="btn btn-secondary">Back to Dashboard</a>
    </div>

<%- include("./../partials/footer.ejs") %>
</body>
