<%- include("./../partials/header.ejs") %>

<body class="slide-in">
    <div class="container">
        <h2><%= title %></h2>
        <p><%= message %></p>

        <!-- Add a button to redirect to the verification page -->
        <a href="/move_out/verify" class="btn btn-primary">Go to Verify Page</a>
    </div>

<%- include("./../partials/footer.ejs") %>
</body>
