<%- include("./../partials/header.ejs") %>

<body>
    <div class="admin-dashboard-container">
        <h2>Admin Dashboard</h2>

        <!-- Other admin functionalities/buttons -->

        <div class="admin-actions">
            <h3>Admin Actions</h3>
            <ul>
                <li>
                    <a href="/move_out/admin/users" class="admin-button">View All Users</a>
                </li>
                <li>
                    <a href="/move_out/admin/storage-usage" class="admin-button">View Storage Usage</a>
                </li>
                <li>
                    <a href="/move_out/admin/send-marketing-emails" class="admin-button">Send Marketing Emails</a>
                </li>
                <li>
                    <a href="/move_out/admin/activate-deactivate-users" class="admin-button">Activate/Deactivate Users</a>
                </li>
                <li>
                    <a href="/move_out/admin/view-reports" class="admin-button">View Reports</a>
                </li>
                <li>
                    <a href="/move_out/logout" class="admin-button">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</body>

<%- include("./../partials/footer.ejs") %>


